:root {
  --background: #fee2e9;
  --light-pink: #fcbbcc;
  --pink: #fba7bd;
  --dark-pink: #f980a1;
  --shadow: #e8c5d0;
  --card: white;
  --heart: #f40b4a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  background-image: url(image.png);
  background-repeat: repeat;
  background-size: 120px;
  background-position: center;
  height: 100%;
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  gap: clamp(16px, 3vw, 28px);
  text-align: center;
}

/* Title */
.container h1 {
  font-family: "Great Vibes", cursive;
  font-size: clamp(52px, 6vw, 70px);
  color: var(--dark-pink);
  letter-spacing: 2px;
}

/* Question */
.container .question {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-size: clamp(32px, 6vw, 70px);
  text-align: center;
}

/* Buttons wrapper */
.buttons {
  display: flex;
  flex-direction: row;
  align-self: center;

  gap: clamp(14px, 4vw, 30px);
}

/* Buttons base */
#yes,
#no {
  /* padding: 10px 42px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 150px; */
  height: fit-content;
  padding: 7px 20px;
  border-radius: 30px;
  letter-spacing: 3px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease;
  user-select: none;
}

/* Yes button */
#yes {
  background-color: var(--heart);
  color: white;
  border: 2px solid white;
}

#yes:hover {
  transform: scale(1.08);
  box-shadow: 0 10px 25px rgba(244, 11, 74, 0.35);
}

/* No button */
#no {
  background-color: white;
  color: #333;
  border: 2px solid white;
  letter-spacing: 0px;
}

#no:hover {
  transform: scale(0.95);
  opacity: 0.8;
}

/* Quote */
.container .quote {
  font-size: clamp(24px, 2.5vw, 20px);
  font-family: "Great Vibes", cursive;
  opacity: 0.85;
  margin-top: 10px;
}

img {
  cursor: grab;
}

/* Modal full screen */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; /* hidden by default */
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5); /* semi-transparent overlay */
  z-index: 1000; /* above everything */
  backdrop-filter: blur(6px); /* blur the background */
}

/* Modal content */
.modal-content {
  background: white;
  background-image: url(image.png);
  padding: 40px 50px;
  border-radius: 20px;
  text-align: center;
  max-width: 400px;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.modal-content p {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.modal-content button {
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #f40b4a;
  border: 2px solid white;
  color: white;
  /* border: none; */
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.2s;
}
.modal-content button:hover {
  transform: scale(1.08);
  box-shadow: 0 10px 25px rgba(244, 11, 74, 0.35);
}

.modal-content button:hover {
  transform: scale(1.1);
}

@media (min-width: 400px) {
  body {
    padding: 10px;
  }
  .container h1 {
    font-size: 37px;
  }
}
